@if(PortIORterminal.StaticYear == "1" && PortIORterminal.StaticCourse == "IT")  {
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">FOP</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div> 
     <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Web programming</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit1" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div> 
}
@if (PortIORterminal.StaticYear == "2" && PortIORterminal.StaticCourse == "IT")
{
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">JAVA</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">DBMS</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit1" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
}
@if (PortIORterminal.StaticYear == "1" && PortIORterminal.StaticCourse == "BBA")
{
            

<div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">BUSINESS ECONOMICS </div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">RETAIL & MARKET RESEARCH</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit1" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
}
@if (PortIORterminal.StaticYear == "2" && PortIORterminal.StaticCourse == "BBA")
{
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">DIGITAL MARKETING & E COMMERCE</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">ENTREPRENEURSHIP</div>
        <div class="card-body">
            <h4 class="card-title"><a asp-action="fyit1" class="text-white">Give Test ></a></h4>
            <p class="card-text">CA-1 Exam</p>
        </div>
    </div>
}